<h4 class="text-primary">Редактор данных базы</h4>

<div>
    <div class="dropdown" style="float:left; margin-right:5px">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            Подгруппы объектов&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a id="editGroups" tabindex="-1" href="#">Просмотр/Редактирование</a></li>

        </ul>
    </div>

    <div class="dropdown" style="float:left; margin-right: 5px">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            Общие параметры программы&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a id="EditTemp" tabindex="-1" href="#">Номин. температуры подачи/обратки</a></li>

        </ul>
    </div>
</div>

<div id="editDbContainer">
    
</div>

<script type="text/javascript">
    function failture(jqXHR, textStatus, errorThrown) {
        showLoading(false);
        $("#editDbContainer").html("<h4 class='text-danger'>Возникла ошибка!</h4>" + jqXHR.responseText);
    }

    $(function () {

        $("#editGroups").click(function (e) {
            showLoading(true);
            $.get('@Url.Action("ListRegions", "Admin")', {},
                function (data) {
                    $("#editDbContainer").html(data);
                    showLoading(false);
                })
                .error(failture);
            e.preventDefault();
        });

        $("#EditTemp").click(function (e) {
            showLoading(true);
            $.ajax({
                url: '@Url.Action("TempPodObrEdit", "Admin")',
                type: 'get',
                success: function (data) {
                    $("#editDbContainer").html(data);
                    showLoading(false);
                },
                error: failture
            });
            e.preventDefault();
        });
    });
</script>