
@{
    ViewBag.Title = "Журнал последних показаний с приборов учета";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Css{
    <style type="text/css">
        #journal {
            font-size: 13px;
            background-color:#fff;
        }

            #journal thead tr th {
                text-align: center;
            }

            #journal thead {
                background-color:#f8f8f8;
            }

            #journal tr td, #journal tr th {
                padding: 2px;
            }

        .pod {
            background-color: #fef6f6;
        }

        #excelExp {
            top: 45px;
            position:absolute;
            right: 15px;
        }

        .podacha {
            box-shadow: inset 0px 0px 2px 0px #fbb685;
        }

        .obratka {
            box-shadow: inset 0px 0px 2px 0px #498bcb;
        }

        @@media print {
            a[href]:after {
                content: "";
            }
        }
    </style>
}

@Html.Partial("topmenu")

<div class="container-fluid" style="margin-top: 55px">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            Данные обновлены: <span id="updateTime" class="label label-success"></span>
            <h2 class="text-center text-primary">Журнал последних показаний на объектах, оборудованных приборами учета</h2>
            <button id="excelExp" style="float:right" class="btn btn-success">в Excel</button>

            <div id="dataUpdate">@Html.Action("PartialData")</div>
           
</div>
</div>
</div>

@section Scripts{
    <script type="text/javascript">
        function updateJournal() {
            $("#dataUpdate").load('@Url.Action("PartialData","Journal")', function () {
                var dt=new Date();
                $("#updateTime").text(''+dt.getHours()+':'+dt.getMinutes()+':'+dt.getSeconds());
            });
        }

        $("#excelExp").click(function () {
            var dt = new Date();
            toExcel($("#journal"), "Последние показания на объектах");
        });


        setInterval(updateJournal, 15000);
    </script>
    }